<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Forum-palvelu</title>
</head>
<body>
    <div class="main">
        <header>
            <h1>Forum-palvelu</h1>
            <p>tervetuloa <%= username %></p>
        </header>
    
        <section class="main-content">
            <p>Käyttäjältä <a href="#">Jari88</a> 24.11.23 klo 15:30</p>
            <h2><a href="#">Miten menee?</a></h2>
            <p>5 kommenttia</p>
        </section>
    
        <section class="main-content">
            <p>Käyttäjältä <a href="#">ullataalasmaa83</a> 23.11.23 klo 5:39</p>
            <h2><a href="#">Pitäisikö tehdä huoli-ilmoitus naapuristani??</a></h2>
            <p>235 kommenttia</p>
        </section>
    
        <section class="main-content">
            <p>Käyttäjältä <a href="#">ransomMan</a> 14.11.23 klo 5:39</p>
            <h2><a href="#">Tsekatkaa uusi hieno sivustoni, tässä linkki</a></h2>
            <p>12 kommenttia</p>
        </section>

        <section class="main-content">
            <p>Käyttäjältä <a href="#">marko69</a> 13.11.23 klo 23:49</p>
            <h2><a href="#">Menisitte töihin</a></h2>
            <p>124234 kommenttia</p>
        </section>
    </div>
    <footer>
        <a href="/logout">Kirjaudu ulos</a>
    </footer>

</body>
</html>